<div class="footer">

<footer class="page-footer grey darken-3">

  <div class="container">
    <div class="row">
      {{!-- <div class="col l6 s12">
        <h5 class="white-text">StoryBooks</h5>
        <p class="grey-text text-lighten-4">Share your life with the world</p>
      </div> --}}
                <div class="col l6 s12">
          <div class="ad">
            <p class="txt-railway">- Follow Us On -</p>
            <br />
                <a href="https://www.instagram.com/fabryrukundo/"><i id="social-ig" class="fa fa-instagram fa-3x social"></i></a>
                <a href="https://www.facebook.com/rukundo.fabrice.7"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/109834844463078123702"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:rukundofabrice111@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
</div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/stories">Public Stories</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 StoryBooks
      <a class="grey-text text-lighten-4 right" href="#!">FRarts | Web Design & Development by Fabrice</a>
    </div>
  </div>
</footer>
</div>
