<h1>About</h1>
<div class="card">
<div class="card-content">
<p>Hi! I’m Fabrice. My background is in web and graphic design,
   but after few years of working in the graphic and interactive
    design fields I’ve shifted more into the web development side of things
    and it seems like things are working slowly by slowly.</p><br>
    <p><strong>Story Book</strong> is another web I built by the idea came from my friend Sonia,so those who 
        like writting and those who have talent i think this is your best way to share your stories 
        to your friend. 
    </p><br>
    <p>And in additition from that you choose your stories to be Private or Public
      I just want to late you know that you have full Security Privacy switched on,so feel free and i hope you will
      let me know if there is any problem in order to solve it. You can contact me or reach in easy way by clicking to any social media icon 
      that u wish. Want to work together? I'd love to hear from you.
    </p>

</div>
</div>